@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Rubik:400,600,700");
body {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #788487;
  position: relative;
}

p {
  line-height: 26px;
  letter-spacing: normal;
  font-size: 20px;
  line-height: 40px;
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: #232323;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}

img {
  max-width: 100%;
}

.book-img {
  max-width: 100%;
}

.drk {
  border-radius: 3%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.office {
  border-radius: 3%;
  box-shadow: 0px 0px 7px 7px #888888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  margin-right: 50px;
}

a:hover {
  color: #48ccfb;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}

.f-color {
  color: #48ccfb;
}

.no-padding {
  padding: 0;
}

.flaticon {
  display: inline;
}

.mb30 {
  margin-bottom: 30px;
}

.section-padding {
  padding: 50px 0px;
  background-color: #fff;
}

.section-heading {
  text-align: center;
  font-size: 40px;
  width: 90%;
  margin: 60px 60px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-title span {
  color: #48ccfb;
}

.section {
  padding: 100px 0px;
}

.line {
  width: 100px;
  background: #48ccfb;
  height: 5px;
  margin: 10px auto;
}

/*---------- BUTTONS ----------*/
.btn {
  font: 600 10.5px/1;
  display: inline-block;
  padding: 15px 45px 15px 45px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.2s;
  border-radius: 0px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-hero,
.btn-white:hover {
  color: #fff !important;
  background: #48ccfb;
}

.btn-hero:focus {
  color: #fff !important;
}

.btn-black,
.btn-hero:hover {
  background-color: black;
  color: #fff !important;
}

.btn-black:hover {
  color: #fff;
  background: #48ccfb;
}

.btn-black:focus {
  color: #fff;
}

.btn-white {
  background-color: #48ccfb;
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}
/* bottom button */
.btn-clear {
  background-color: transparent;
  background-repeat: no-repeat;
  color: #000;
  font-size: 1.2em;
  border-color: rgb(255, 255, 255);
  border-width: 0.3em;
}
.btn-clear:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  color: #48ccfb;
  border-color: rgb(255, 255, 255);
}

.btn-clear:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}

/* bottom button end */
.btn-trans-black {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
  color: white;
  background-color: #48ccfb;
}

.btn-trans-white {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
  border-radius: 2px;
}

.btn-trans-black:hover {
  background: #48ccfb !important;
}

/*---------- COLORS ----------*/
/*-- Background Colors --*/
.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.96);
}

.bg-feature {
  background-color: #48ccfb;
}

.bg-gray {
  background-color: #f2f4ec;
}

.bg-white {
  background-color: #fff;
}

.d-table {
  width: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.overlay-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.feature-overlay {
  background: #48ccfb;
  opacity: 0.2;
}

.gr-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.52),
      rgba(15, 38, 46, 0.8)
    ),
    url("../img/pain.jpeg");
}
.bt-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 38, 46, 0.8),
      rgba(245, 246, 252, 0.52)
    ),
    url("../img/happy.jpeg");
  background-size: cover;
  color: white;
}

.heading h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

/*------------------------------------
 BANNER AREA
----------------------------------*/
.banner-area .content-padding {
  padding: 250px 0px 180px;
}

.content-padding {
  padding: 180px 0px 80px;
}

.banner-content {
  padding-right: 30px;
}

.banner-content .btn {
  margin-top: 45px;
}

.banner-content .banner-title {
  color: #fff;
  font-weight: 900;
  line-height: 50px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.85);
}

.banner-content .subtitle {
  color: #000080;
  background: #000080;
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  color: #48ccfb;
}

.banner-content p {
  margin: 20px 0px;
  color: #fff;
  text-shadow: 1px 1px rgb(0 0 0 / 85%);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.banner-content-2 p {
  margin: 30px 0px;
  color: #fff;
  text-shadow: 2px 2px rgb(0 0 0 / 85%);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 35px;
}

.banner-content .btn {
  margin-right: 12px;
}

.btn-sm {
  padding: 10px 30px;
}

.banner-1 {
  background-size: cover;
  position: relative;
}
.banner-2 {
  background-size: cover;
  position: relative;
}

.section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

/*-------------------- ------------
 INTRO SECTION
-----------------------------*/
#intro {
  padding-bottom: 50px;
}

.intro-img {
  margin-top: 40%;
}

#intro .section-heading p {
  color: #000;
  font-size: 20px;
  line-height: 40px;
}

.intro-box {
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.intro-box h4:before {
  position: absolute;
  left: 0px;
  top: 17px;
  content: "";
  bottom: 0px;
  background: #000;
  width: 50px;
  height: 2px;
}

.intro-box h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}

.intro-box span {
  font-size: 28px;
  color: #48ccfb;
}
/*--------------------------
  SERVICE AREA SECTION
----------------------*/

#service-head {
  padding-bottom: 100px;
  padding-top: 90px;
}

#service-head .section-title {
  color: #fff;
}

.text-white p {
  color: #fff;
}

/*------------------------------------
  BOOK SECTION AREA
--------------------------------*/
#book {
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}
/*------------------------------------
  SLIDESHOW SECTION
---------------------------------*/

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 560px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.profile-img {
  border-radius: 30%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.carousel-indicators {
  bottom: 0px;
  margin-bottom: 0px;
  color: #999;
}

.carousel-indicators li {
  background: #111;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background: #48ccfb;
}

.testimonial-content {
  padding: 0px 40px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-content .author-text {
  padding-top: 10px;
}

.testimonial-content .author-info {
  display: block;
  margin-bottom: 25px;
}

.testimonial-content p {
  font-size: 20px;
  line-height: 36px;
  color: #222;
  margin: 35px 0px;
  display: block;
}

.author-text h5 {
  text-transform: uppercase;
}

.author-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 36px;
  color: #888;
  margin: 0px;
}

.testimonial-content p i {
  margin: 0px 8px;
}

/*--------------------------
TESTIMONIAL SECTION AREA
----------------------*/
.t-block {
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.t-block img {
  margin-bottom: 10px;
}

.t-text {
  padding: 20px;
}

.t-text .t-name {
  font-weight: 400;
}

.-text .t-name span {
  margin-right: 10px;
  font-weight: 600;
}

.t-block .read-more,
.t-block span {
  color: #48ccfb;
}

/*-------------------------------
 RESPONSIVE LAYOUT
---------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }

  /*----------------
  SLIDESHOW
  ------------------*/

  .video-stream {
    width: 100%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }
  .intro-box {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

/* Extra small devices */
@media (max-width: 575.98px) {
  /*----------------------
     SECTION HEADING
    -----------------------*/
  #intro .section-heading,
  .section-heading {
    width: 100%;
  }
  #intro .section-heading p {
    font-size: 16px;
    line-height: 28px;
  }
  .section-title {
    font-size: 26px;
    line-height: 36px;
  }
  h1 {
    font-size: 40px;
    line-height: 36px;
  }
  /*--------------------
     BANNER
    -----------------*/
  .banner-content .banner-title {
    line-height: 37px;
  }
  .banner-content p {
    font-size: 16px;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  .img-block img {
    width: 130px;
  }
  .service-block {
    margin-bottom: 20px;
  }
  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }
  /*--------------
     COUNTER
    ----------------*/
  .counter-stat {
    margin-bottom: 30px;
    text-align: center;
  }
  /*--------------
     BLOG
    ----------------*/
  .blog-block {
    margin-bottom: 30px;
  }
  .blog-text {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .blog-tex h5 {
    font-size: 15px;
  }
  .blog-text p {
    font-size: 14px;
  }
  /*--------------
     CLIENT
    --------------*/
  .client-img {
    text-align: center;
  }
}
